{% extends 'base.html' %}

{% block content %}

<!--Include Navbar-->
{% include 'shared/nav.html' %}

{% load widget_tweaks %}

<!--Make conditional - if map is private, and it is not current user logged in, they may not view it, else it is viewable-->
{% if general_user.username != current_user and usermap.private %}

    <h1 class = "text-center text-gray-600 mt-16 text-2xl font-bold">This pin has been set to private</h1>

{% else %}

<!--Main Container Body-->
<div class = "w-full flex justify-center flex-col md:flex-row p-10 gap-4">
    <!--Left Box with data-->
    <div class = "w-full md:w-1/2 h-[65vh] flex flex-col align-middle bg-white border-2 rounded-lg overflow-auto">

        <!--Name of the Map and return button-->
        <div class = "flex flex-row gap-4 w-full mt-6 ml-4">
            <a href = "{% url 'main-map' general_user usermap.name %}">                    
                <span class="text-gray-400 text-3xl hover:cursor-pointer"><i class="bi-chevron-left"></i></span>
            </a>
            <h1 class = "text-gray-400 text-2xl">{{ usermap.name }}</h1>
        </div>
        <!--Top box with pin name and edit button-->
        <div class = "w-full h-20 flex flex-row justify-between">
            <!--Pin Name-->
            <h1 class = "text-gray-500 font-bold text-3xl m-6">{{ pin.name }}</h1>

            <!--Hide the Edit Button if it does not belong to current user-->
            {% if general_user.username == current_user %}
            <!--Edit Button-->
            <a href = "{% url 'main-pin' general_user pin.usermap.name pin.name %}/edit" class = "mr-6 mt-6 w-16 h-16">
                <button type = "button" name = "editPinBtn" class = "w-full h-full bg-blue-400 hover:bg-blue-500 border-blue-400 rounded-lg active:scale-95">
                    <span class="text-white text-3xl hover:cursor-pointer"><i class="bi-pencil-fill"></i></span>
                </button>
            </a>
            {% endif %}

        </div>
        <!--Coordinates-->
        <div class = "flex flex-row justify-between">
            <div class = "flex flex-col gap-2 m-6">
                <h1 class = "text-gray-500 font-bold text-2xl">Coordinates:</h1>
                <div class = "flex flex-row">
                    <p1 class = "lat text-gray-500 font-medium text-xl">{{ pin.lat }}</p1>    
                    <p1 class = "text-gray-500 font-medium text-xl">, &nbsp;</p1>    
                    <p1 class = "long text-gray-500 font-medium text-xl">{{ pin.long }}</p1>    
                </div>
            </div>    
            <!--Google Earth Button-->
            <button onclick = "GoogleEarth()" name = "editPinBtn" class = "mr-6 mt-6 w-16 h-16 aspect-square bg-blue-400 hover:bg-blue-500 border-blue-400 rounded-lg active:scale-95">
                <span class="text-white text-3xl hover:cursor-pointer"><i class="bi-google"></i></span>
            </button>

        </div>

        <!--Notes-->
        <div class = "flex flex-col gap-2 m-6">
            <h1 class = "text-gray-500 font-bold text-2xl">Notes</h1>
            <p1 class = "text-gray-500 font-medium text-xl">{{ pin.notes }} </p1>    
        </div>

    </div>

    <!--Right Box with map-->
    <div class = "w-full md:w-1/2 h-[65vh] flex flex-col justify-center align-middle bg-white border-2 rounded-lg p-4">
        <!--Map Container-->
        <div id = "map" class = "w-full h-full rounded-lg">
        </div>
    </div>

</div>

<script>


//latitude, longitude
let pinsData = [];

//pull in data for point
document.addEventListener("DOMContentLoaded", function() {
    const pinLats = document.querySelectorAll('.lat');
    const pinLongs = document.querySelectorAll('.long');

    pinLats.forEach((lat, index) => {
        let latValue = lat.textContent.trim();
        let longValue = pinLongs[index].textContent.trim(); 

        pinsData.push({
            latitude: latValue,
            longitude: longValue
        });
        
    })


    //start the code for intitializing the map
    //Main Tile Layer
    var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    });

    //Satellite Imagery Layer
    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    })


    var map = L.map('map', {
        center: [ pinsData[0].latitude, pinsData[0].longitude],
        zoom: 15,
        layers: [osm, Esri_WorldImagery]
    });

    var baseMaps = {
        "Normal": osm,
        "Satellite": Esri_WorldImagery
    };

    //add layers to map
    var layerControl = L.control.layers(baseMaps).addTo(map);

    //create function for pins
    //six colors available: red, green, blue, orange, violet, yellow
    function customIcon(color, lat, long){
        custom_icon = L.icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + color + '.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41],
        });

        var marker = L.marker([lat, long], {icon: custom_icon}).addTo(map);
        return marker
    }


    //generate icon 
    customIcon("blue", pinsData[0].latitude, pinsData[0].longitude)

});

//function to open in Google Earth
function GoogleEarth(lat, long){
    //open link in google earth
    window.open("https://earth.google.com/web/@" + lat + "," + long + ",1000d" , '_blank').focus();

}

//generate google earth link
GoogleEarth(pinsData[0].latitude, pinsData[0].longitude);


</script>

{% endif %}

{% endblock content %}