{% extends 'base.html' %}

{% block content %}

{% load widget_tweaks %}

<!--Include Navbar-->
{% include 'shared/nav.html' %}

<!--Main Content for index.html-->

<!--Main Container Body-->
<div class = "w-full flex justify-center flex-col md:flex-row p-10 gap-4">
    <!--Left Box - Top-->
    <!--My Maps-->
    <div class = "w-full md:w-1/2 h-[60vh] flex flex-col justify-center align-middle bg-white border-2 rounded-lg">
        <!--Header-->
        <div class = "w-full flex flex-col">
            <div class = "w-full flex flex-row justify-between p-10">
                <h class = "text-2xl font-bold text-gray-500">My Maps</h>
                <p class = "text-base text-gray-600 mt-2">{{ user.usermap.all.count }} maps</p>
            </div>
            <hr class = "border-1 w-[92%] border-gray-300 ml-auto mr-auto relative bottom-6">
        </div>

        <!--Container for entries-->
        <div class = "w-full h-3/4 p-6 flex flex-col gap-4 items-center align-middle overflow-auto mb-4">
            <!--entry box-->
            {% for map in user.usermap.all %}
            <!--Link to access map-->
            <a href = "{% url 'main-map' username=current_user map_name=map.name %}" class = "w-full">
                <div class = "w-full border flex flex-row flex-wrap justify-between h-16 p-4 rounded-lg shadow hover:bg-gray-100 hover:cursor-pointer active:scale-95">
                    <h class = "text-lg font-bold text-gray-500">{{ map.name }}</h>
                    <!--Div with number of pins and private/public icon-->
                    <div class = "flex flex-row gap-4">
                        <!--Eye icon has slash if private is true-->
                        {% if map.private == True %}
                            <span class="text-gray-400 hover:cursor-pointer"><i class="bi-eye-slash-fill"></i></span>
                        {% else %}
                            <!--Eye icon does not have slash if private is false meaning it is public-->
                            <span class="text-gray-400 hover:cursor-pointer"><i class="bi-eye-fill"></i></span>
                        {% endif %}
                        <!--number of pins text-->
                        <p class = "text-base text-gray-400">{{ map.pin.all.count }} pin(s) |</p>

                        <!--Like Count-->
                        <div class = "flex flex-row gap-2">
                            <span class="text-gray-400"><i class="bi-heart-fill"></i></span>
                            <p class = "text-base text-gray-400">{{ map.likes.count }}</p>
                        </div> 
                    </div>
                </div>
            </a>
            {% endfor %}

            <!--If there are no maps, print no maps-->
            {% if user.usermap.all.count == 0 %}
                <h1 class = "text-xl text-gray-400 font-bold">No Maps Created</h1>
            {% endif %}
        </div>
    </div>

    <!--Right Box - Bottom-->
    <!--Saved Maps-->
    <div class = "w-full md:w-1/2 h-[60vh] flex flex-col justify-center align-middle bg-white border-2 rounded-lg">
        <!--Header-->
        <div class = "w-full flex flex-col">
            <div class = "w-full flex flex-row justify-between p-10">
                <h class = "text-2xl font-bold text-gray-500">Saved Maps</h>
                <p class = "text-base text-gray-600 mt-2">{{bookmarks_count}}</p>
            </div>
            <hr class = "border-1 w-[92%] border-gray-300 relative bottom-6 ml-auto mr-auto">
        </div>

            <!--Container for entries-->
            <div class = "w-full h-3/4 p-6 flex flex-col gap-4 items-center align-middle overflow-auto mb-4">
                <!--show no saved maps only if bookmarks_count is 0 -->
                {% if bookmarks_count == 0 %}
                    <h1 class = "text-gray-400 text-xl font-bold">No Saved Maps</h1>
                {% endif %}
                <!--entry box-->
                {% for saved in bookmarks %}
                <a href = "{% url 'main-map' username=saved.creator map_name=saved.map_name %}" class = "w-full">
                    <div class = "w-full border flex flex-row flex-wrap justify-between h-16 p-4 rounded-lg shadow hover:bg-gray-100 hover:cursor-pointer active:scale-95">
                        <h class = "text-lg font-bold text-gray-500">{{ saved.map_name }}</h>
                        <!--Creator Name-->
                        <p class = "text-sm text-gray-400">{{saved.creator}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
    </div>
</div>



<!--Modal for creating new map-->
<!--Div to wrap button with add button-->
<div x-data="{modalIsOpen: false}">
    <!--Button Box on Bottom-->
    <div class = "w-full h-32 fixed left-0 bottom-0">
        <!--Right Button - Create map -->
        <button @click="modalIsOpen = true" class = "aspect-square w-20 h-20 rounded-xl float-right mr-16 bg-blue-400 hover:bg-blue-500 active:scale-95">
            <span class="text-white text-6xl"><i class="bi-plus"></i></span>
        </button>
    </div>

    <!--Modal to create map-->
    <!--Opacity Layer-->
    <div x-cloak x-show="modalIsOpen" @click.self="modalIsOpen = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
        <!--Modal Dialogue layer-->
        <div x-show="modalIsOpen" class = "w-4/5 md:w-1/2 h-1/2 flex flex-col align-middle items-center gap-4 rounded-xl border-2 bg-white">
            <div class = " h-full w-[90%]">
                <!--Title and exit button-->
                <div class = "flex flex-row justify-between p-8">
                    <!--Title-->
                    <h class = "text-2xl md:text-3xl text-gray-500 font-bold">Create New Map</h>
                    <!--Exit Button-->
                    <button class = "active:scale-90" @click="modalIsOpen = false">
                        <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                    </button>
                </div>
                <!--Main modal content-->
                <form method = "POST">
                    {% csrf_token %}
                    <div class = "w-full h-full flex flex-col pl-8 pr-4 gap-4">
                            <!--input for map name-->
                            {% render_field form.name class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Map Name" %}
                            <!--Selection boxes for making map public or private-->
                            <label>
                                <!--Bypass form to submit if false-->
                                {% render_field form.private  %}
                                <span class = "text-gray-600 ml-2">Make Map Private (You may change this later)</span>
                            </label>
                        <!--Create Button-->
                        <button type="submit" class="active:scale-95 w-full h-12 mt-4 xl:mt-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-lg">
                            Create Map
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}