{% extends 'base.html' %}

{% block content %}

<!--Include Navbar-->
{% include 'shared/nav.html' %}

{% load widget_tweaks %}

<!--Main Content-->

<!--Make conditional - if map is private, and it is not current user logged in, they may not view it, else it is viewable-->
{% if general_user.username != current_user and usermap.private %}

    <h1 class = "text-center text-gray-600 mt-16 text-2xl font-bold">This map has been set to private</h1>

{% else %}

  <!--Main Container Body-->
  <div class = "w-full flex justify-center flex-col md:flex-row p-10 gap-4">
    <!--Left Box - Top-->
    <!--My Maps-->
    <div class = "w-full md:w-1/2 h-[65vh] flex flex-col justify-center align-middle bg-white border-2 rounded-lg">
        <!--If logged in, it shows my maps and directs to home page-->
        {% if general_user.username == current_user %}
            <a href="{% url 'main-home' %}" class = "ml-10 mt-3 text-gray-400 text-base hover:underline">My Maps</a>
        {% else %}
        <!--Else it shows name of user and directs to users profile -->
            <a href="{% url 'user-profile' general_user %}" class = "ml-10 mt-3 text-gray-400 text-base hover:underline">{{ general_user.username }}'s Maps</a>
        {% endif %}

        <!--Header-->
        <div class = "w-full flex flex-col h-1/5">
            <div class = "w-full flex flex-row justify-between p-10">
                
                <!--Name of map-->
                <h class = "text-2xl font-bold text-gray-500">{{ usermap.name }}</h>

                <!--Private Toggle and Edit Button only shown if the current user is logged in-->
                {% if general_user.username == current_user %}
                <!--Public/Private Button and Edit button-->
                <form method="POST">
                    {% csrf_token %}
                    <div class = "flex flex-row gap-4">
                        {% if usermap.private == True %}
                            <button type="submit" name = "togglePrivate" >
                                <span class="text-gray-500 text-3xl hover:cursor-pointer"><i class="bi-eye-slash-fill"></i></span>
                            </button>
                        {% else %}
                            <!--Eye icon does not have slash if private is false meaning it is public-->
                            <button type="submit" name = "togglePrivate" >
                                <span class="text-gray-500 text-3xl hover:cursor-pointer"><i class="bi-eye-fill"></i></span>
                            </button>
                        {% endif %}

                    <!--Edit Button and its respective modal-->
                    <div x-data="{EditMapModelIsOpen: false}">
                        <!--Edit Button-->
                        <button type = "button" @click ="EditMapModelIsOpen = true" >
                            <span class="text-gray-500 hover:text-blue-400 text-3xl hover:cursor-pointer active:scale-95"><i class="bi-pencil"></i></span>
                        </button>
                        <!--Modal to create map-->
                        <!--Opacity Layer-->
                        <div x-cloak x-show="EditMapModelIsOpen" @click.self="EditMapModelIsOpen = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
                            <!--Modal Dialogue layer-->
                            <div x-show="EditMapModelIsOpen" class = "w-4/5 md:w-1/2 h-1/2 flex flex-col align-middle items-center gap-4 rounded-xl border-2 bg-white">
                                <div class = " h-full w-[90%]">
                                    <!--Title and exit button-->
                                    <div class = "flex flex-row justify-between p-8">
                                        <!--Title-->
                                        <h class = "text-2xl md:text-3xl text-gray-500 font-bold">Edit Map: {{ usermap.name }}</h>
                                        <!--Exit Button-->
                                        <button class = "active:scale-90" @click="EditMapModelIsOpen = false">
                                            <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                                        </button>
                                    </div>
                                    <!--Main modal content-->
                                    <div class = "w-full h-full flex flex-col pl-8 pr-4 pb-8 gap-2">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <!--Input to Update name-->
                                            {% render_field update_map_form.name class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Map Name" %}
                                            <!--Submit Button-->
                                            <button type="submit" name = "updateMap" class="active:scale-95 w-full h-12 mt-4 xl:mt-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-lg">
                                                Update Map Name
                                            </button>            

                                            <!--Delete Map Button-->
                                            <button type="submit" name = "deleteMap" class="active:scale-95 w-full h-12 mt-2 xl:mt-12 rounded-lg border border-transparent font-semibold bg-red-400 text-white hover:bg-red-600 text-lg">
                                                Delete Map
                                            </button>            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Else statement-->
                <!--If does not belong to user, user may save the map-->
                {% else %}
                <div class = "flex flex-row gap-4">  
                    <!-- number of pins on map -->
                    <p class = "text-base text-gray-400 ml-10">{{ pins_all.count }} pins</p>

                    <!--Save Map Button-->
                    <form method="POST">
                    {% csrf_token %}
                        <button type = "submit" name = "toggleBookmark" class = "bg-blue-400 hover:bg-blue-500 active:scale-95 border w-16 h-16 rounded-lg relative bottom-4">
                            <!--Change Icon based on whether map is bookmarked or not -->
                            <!--If saved, icon is filled-->
                            {% if is_bookmarked %}
                                <span class="text-white text-3xl hover:cursor-pointer active:scale-95 rounded-xl p-3"><i class="bi-bookmark-fill"></i></span>
                            {% else %}
                                <!--If NOT saved, icon is NOT filled-->
                                <span class="text-white text-3xl hover:cursor-pointer active:scale-95 rounded-xl p-3"><i class="bi-bookmark"></i></span>
                            {% endif %}
                        </button>
                    </form>
                </div>

                {% endif %}

        </div>
        
    </div>

            <!--Container for entries-->
            <div class = "w-full h-3/4 p-6 flex flex-col gap-6 overflow-auto">
                <!--entry box-->
                {% for pin in pins %}
                <a href="{% url 'main-pin' general_user pin.usermap.name pin.name %}" class="w-full">
                    <div class = "w-full border flex flex-row flex-wrap justify-between h-full p-4 rounded-lg shadow hover:bg-gray-100 hover:cursor-pointer active:scale-95">
                        <h class = "pin-name text-lg font-bold text-gray-500">{{ pin.name }}</h>

                        <!--Div with Coordinates-->
                        <div class = "flex flex-col text-sm text-gray-400">
                            <p class = "lat">{{ pin.lat }}</p>
                            <p class = "long">{{ pin.long }}</p>
                        </div>

                    </div>
                </a>
                {% endfor %}
            <!--If there are no maps, print no maps-->
            {% if pins_all.count == 0 %}
                <h1 class = "text-xl text-gray-400 font-bold text-center">No Pins Created</h1>
            {% endif %}

            </div>
    </div>

    <!--Right Box - Bottom-->
    <!--Saved Maps-->
    <div class = "w-full md:w-1/2 h-[65vh] flex flex-col bg-white border-2 rounded-lg">
        <!--Search Bar Container with share button -->
        <div class = "w-full h-1/6 flex flex-row justify-between items-center align-middle gap-5">
            <!--Search Bar-->
            <div class = "w-2/3 h-2/3 flex flex-row ml-4">
                <!--Input Form-->
                <input class="border-gray-300 border-r-0 rounded-l-lg w-5/6 py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" id="map_name" type="text" placeholder="Search Map">
                <!--Search Button-->
                <button class = "w-1/6 h-full bg-blue-400 hover:bg-blue-500 border-blue-400 rounded-r-lg active:scale-95">
                    <span class="text-white text-3xl hover:cursor-pointer"><i class="bi-search"></i></span>
                </button>
            </div>

            <!--Share Button-->
            <button class = "w-20 h-2/3 mr-4 bg-blue-400 hover:bg-blue-500 border-blue-400 rounded-lg active:scale-95">
                <span class="text-white text-3xl hover:cursor-pointer"><i class="bi-share-fill"></i></span>
            </button>
        </div>

        <!--Map Container-->
        <div class = "w-full h-4/5 p-4 z-0">
            <!--Map-->
            <div id = "map" class = "w-full h-full rounded-lg">

            </div>

        </div>

    </div>
</div>

<!--Javascript for Leaflet Map-->
<script>

//function to calculate georgaphic center for a group of coordinate
function calculateCenter(coords) {
    let x = 0.0, y = 0.0, z = 0.0;

    coords.forEach(coord => {
        const latitude = coord.latitude * Math.PI / 180;
        const longitude = coord.longitude * Math.PI / 180;

        x += Math.cos(latitude) * Math.cos(longitude);
        y += Math.cos(latitude) * Math.sin(longitude);
        z += Math.sin(latitude);
    });

    const total = coords.length;

    x = x / total;
    y = y / total;
    z = z / total;

    const centralLongitude = Math.atan2(y, x);
    const centralSquareRoot = Math.sqrt(x * x + y * y);
    const centralLatitude = Math.atan2(z, centralSquareRoot);

    return {
        latitude: centralLatitude * 180 / Math.PI,
        longitude: centralLongitude * 180 / Math.PI
    };
}


//generate map in event listener to get coords from HTML without having to call HTTP request
function generateMap(){
    document.addEventListener("DOMContentLoaded", function() {
        const pinElements = document.querySelectorAll('.pin-name');
        let pinsData = {};
        const coordinates = [];

        //loop through the html to get pin data and add the the pinsData object
        pinElements.forEach(pin => {
            let pinName = pin.textContent.trim();  
            let parentDiv = pin.closest('div');
            let lat = parentDiv.querySelector('.lat').textContent.trim();
            let long = parentDiv.querySelector('.long').textContent.trim(); 

            pinsData[pinName] = {
                latitude: parseFloat(lat),  
                longitude: parseFloat(long)  
            };
            // Set default coordinates if lat or long are not valid numbers
            let defaultLat = 34.0522;  // Default latitude, e.g., Los Angeles
            let defaultLong = -118.2437;  // Default longitude, e.g., Los Angeles

            // Check if lat and long are valid numbers, use defaults if not
            lat = parseFloat(lat);
            long = parseFloat(long);
            if (isNaN(lat)) {
                lat = defaultLat;
            }
            if (isNaN(long)) {
                long = defaultLong;
            }


            //push coordinates into object to calculate centerpoint
            coordinates.push({
                latitude: parseFloat(lat), 
                longitude: parseFloat(long)  
            });

        });

        //generate map
        //Main Tile Layer
        var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19
        });

        //Satellite Imagery Layer
        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        })

        //generate a centerpoint to set map using calculateCenter() and the data from coordinates
        const centroidGeo = calculateCenter(coordinates);

        var map = L.map('map', {
            center: [ centroidGeo.latitude, centroidGeo.longitude],
            zoom: 6,
            layers: [osm, Esri_WorldImagery]
        })

        var baseMaps = {
            "Normal": osm,
            "Satellite": Esri_WorldImagery
        };

        //add layers to map
        var layerControl = L.control.layers(baseMaps).addTo(map);

        //create function for pins
        //six colors available: red, green, blue, orange, violet, yellow
        function customIcon(color, text, lat, long){
            custom_icon = L.icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + color + '.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41],
            });

            var marker = L.marker([lat, long], {icon: custom_icon}).addTo(map);
            marker.bindTooltip(text, {permanent: true, direction: 'top', className: 'text-xl bottom-2 bg-opacity-0 text-gray-600' }).openTooltip();
            return marker
        }

        //generate icons 
        for (const [name, coords] of Object.entries(pinsData)) {
            customIcon("blue", name, coords.latitude, coords.longitude);
        }

    });
}
generateMap();

</script>

<!--Plus Button To Create New Map-->
{% if general_user.username == current_user %}
<!--Only show if the current user is logged in-->

    <!--Modal for creating new map-->
    <!--Div to wrap button with add button-->
    <div x-data="{NewPointmodalIsOpen: false}">
        <!--Button Box on Bottom-->
        <div class = "w-1/2 h-32 fixed right-0 bottom-0">
            <!--Right Button - Create map -->
            <button @click="NewPointmodalIsOpen = true" class = "aspect-square w-20 h-20 rounded-xl float-right mr-16 bg-blue-400 border-blue-600 shadow hover:bg-blue-500 active:scale-95">
                <span class="text-white text-6xl"><i class="bi-plus"></i></span>
            </button>
        </div>

        <!--Modal to create map-->
        <!--Opacity Layer-->
        <div x-cloak x-show="NewPointmodalIsOpen" @click.self="NewPointmodalIsOpen = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
            <!--Modal Dialogue layer-->
            <div x-show="NewPointmodalIsOpen" class = "w-full md:w-11/12 5 h-5/6 flex flex-col align-middle items-center rounded-xl border-2 bg-white overflow-auto">
                <div class = " h-full w-[90%]">
                    <!--Title and exit button-->
                    <div class = "flex flex-row justify-between p-4">
                        <!--Title-->
                        <h class = "text-2xl md:text-3xl text-gray-500 font-bold mt-4 mr-4">Create New Pin</h>
                        <!--Exit Button-->
                        <button class = "active:scale-90" @click="NewPointmodalIsOpen = false">
                            <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                        </button>
                    </div>
                    <!--Main modal content-->
                    <div class = "w-full h-auto flex justify-center flex-col md:flex-row gap-4">
                        <!--Left box with context-->
                        <div class = "w-full md:w-1/2 h-[70vh] flex flex-col align-middle justify-center">
                            <!--Move Pin Button, Enter Coordinates Button-->
                            <form method="POST" class = "flex flex-col gap-6">
                                {% csrf_token %}
                                <!--Name Form-->
                                {% render_field create_pin_form.name class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Pin Name" %}

                                <p class = "text-base md:text-lg text-gray-400 font-bold mt-4 mr-4">Drag to Pin to Select Coordinates or Enter Manually</p>

                                <div class = "h-16 flex flex-row gap-2">
                                    {% render_field create_pin_form.lat id="lat" class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Latitude" %}
                                    {% render_field create_pin_form.long id="long" class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Longitude" %}
                                </div>

                                <!--Notes Text area-->
                                {% render_field create_pin_form.notes class="border-gray-300 border-2 rounded-lg w-full h-36 py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Notes" %}

                                <!--Create Button-->
                                <button type="submit" name = "create_pin_btn" class="active:scale-95 w-full h-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-lg">
                                    Create Point
                                </button>
                            </form>
                        </div>
                        <!--Right box with map-->
                        <div class = "w-full md:w-1/2 h-[70vh] flex flex-col justify-center align-middle">
                            <!--Map container-->
                            <div id = "map_create" class = "w-full h-full rounded-lg">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--script for creation map-->
    <script>
        function generateCreationMap(){
            //start the code for intitializing the map
            //Main Tile Layer
            var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19
            });

            //Satellite Imagery Layer
            var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            })


            var map_create = L.map('map_create', {
                center: [ 33.89332, 35.50157],
                zoom: 12,
                layers: [osm, Esri_WorldImagery]
            });

            var baseMaps = {
                "Normal": osm,
                "Satellite": Esri_WorldImagery
            };

            //add layers to map
            var layerControl = L.control.layers(baseMaps).addTo(map_create);

            //generate blue draggable pin
            custom_icon = L.icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41],
            });

            var marker_create = L.marker([33.89065, 35.47863], {
                icon: custom_icon,
                draggable: true

            }).addTo(map_create);

            //Dragging pin will change values in form
            marker_create.on('dragend', function (e) {
                document.getElementById('lat').value = marker_create.getLatLng().lat;
                document.getElementById('long').value = marker_create.getLatLng().lng;
            });

        }

        generateCreationMap()
    </script>

{% endif %}

<!--Show like button on the left side-->
<form method="POST">
    {% csrf_token %}
    <div class = "w-1/2 h-32 fixed left-0 bottom-0">
        <!--Right Button - Create map -->
        <button type = "submit" name = "likeBtn" class = "flex flex-row gap-4 align-middle justify-center items-center aspect-square w-28 h-20 rounded-xl float-left ml-16 bg-blue-400 border-blue-600 shadow hover:bg-blue-500 active:scale-95">
            <!--Thumbs up icon-->
            {% if request.user in usermap.likes.all %}
                <!-- User has liked the map - filled thumbs-up icon -->
                <span class="text-red-400 text-4xl"><i class="bi-heart-fill"></i></span>
            {% else %}
                <!-- User has not liked the map - regular thumbs-up icon -->
                <span class="text-white text-4xl"><i class="bi-heart"></i></span>
            {% endif %}
        
            <!--Current number of likes-->
            <p class = "text-white text-xl">{{ likes_count }}</p>
        </button>
    </div>
</form>

{% endif %}

{% endblock content %}