{% extends 'base.html' %}

{% block content %}

<!--Include Navbar-->
{% include 'shared/nav.html' %}

{% load widget_tweaks %}

<div class = "flex flex-col w-4/5 md:w-2/3 gap-6 ml-auto mr-auto bg-white p-8 md:p-16 mt-10 border-2 rounded-lg items-center align-middle">
    
    <!--Top box with name and profile icon-->
    <div class = "flex flex-row justify-between w-2/3">
        <h1 class = "text-gray-500 text-3xl font-bold">My Profile: {{ user.username }}</h1>
        <!--link to user_profile view-->
        <a href = "{% url 'user-profile' username=user %}">
        <span class="text-gray-500 hover:text-blue-400 text-4xl hover:cursor-pointer active:scale-95"><i class="bi-person-square"></i></span>
        </a>
    </div>
    <!--Div with account information-->
    <div class = "w-2/3 h-full flex flex-col gap-6">

        <!--Email-->
        <div class = "flex flex-row justify-between">
            <h1 class = "text-gray-500 font-bold text-xl">Email: <span class = "text-gray-500 font-normal">{{ user.email }}</span></h1>

            <!--Edit Email and its respective modal-->
            <div x-data="{EditEmailModel: false}">
                <!--Edit Email Icon-->
                <span  @click="EditEmailModel = true" class="text-gray-500 hover:text-blue-400 text-2xl hover:cursor-pointer active:scale-90"><i class="bi-pencil"></i></span>
                    <!--Model Begins here-->
                    <!--Opacity Layer-->
                    <div x-cloak x-show="EditEmailModel" @click.self="EditEmailModel = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
                        <!--Modal Dialogue layer-->
                        <div x-show="EditEmailModel" class = "w-4/5 md:w-1/2 h-1/2 flex flex-col align-middle items-center gap-4 rounded-xl border-2 bg-white">
                            <div class = " h-full w-[90%]">
                                <!--Title and exit button-->
                                <div class = "flex flex-row justify-between p-8">
                                    <!--Title-->
                                    <h class = "text-2xl md:text-3xl text-gray-500 font-bold">Change Email</h>
                                    <!--Exit Button-->
                                    <button class = "active:scale-90" @click="EditEmailModel = false">
                                        <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                                    </button>
                                </div>
                                <!--Main modal content-->
                                <div class = "w-full h-full flex flex-col pl-8 pr-4 pb-8 gap-2">

                                    <!--Content goes here-->
                                    <form method="post">
                                        {% csrf_token %}

                                        {% render_field emailForm.email class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Enter New Email" %}

                                        <button type="submit" name = "change_email_btn" class="active:scale-95 w-full h-12 mt-4 xl:mt-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-lg">
                                            Change Email
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!--Password-->
        <div class = "flex flex-row justify-between">
            <h1 class = "text-gray-500 font-bold text-xl">Username: <span class = "text-gray-500 font-normal">{{ user.username }}</span></h1>
        </div>

        <!--Change Password Button and its respective modal-->
        <div x-data="{ChangePasswordModel: false}">
                <!--Change password button-->
                <button @click ="ChangePasswordModel = true" type="button" class="active:scale-95 w-full lg:w-1/3 h-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-base lg:text-lg">
                    Change Password
                </button>
                <!--Model Begins here-->
                <!--Opacity Layer-->
                <div x-cloak x-show="ChangePasswordModel" @click.self="ChangePasswordModel = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
                    <!--Modal Dialogue layer-->
                    <div x-show="ChangePasswordModel" class = "w-4/5 md:w-1/2 h-2/3 flex flex-col align-middle items-center gap-4 rounded-xl border-2 bg-white">
                        <div class = " h-full w-[90%]">
                            <!--Title and exit button-->
                            <div class = "flex flex-row justify-between p-8">
                                <!--Title-->
                                <h class = "text-2xl md:text-3xl text-gray-500 font-bold">Change Password</h>
                                <!--Exit Button-->
                                <button class = "active:scale-90" @click="ChangePasswordModel = false">
                                    <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                                </button>
                            </div>
                            <!--Main modal content-->
                            <div class = "w-full h-full flex flex-col pl-8 pr-4 pb-8 gap-2">

                                <!--Content goes here-->
                                    <!--Content goes here-->
                                    <form method="post" class = "w-full flex flex-col gap-4">
                                        {% csrf_token %}

                                        {% render_field changePasswordForm.current_password class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Enter Current Password" %}
                                        {% render_field changePasswordForm.new_password class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Enter New Password" %}
                                        {% render_field changePasswordForm.confirm_new_password class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Confirm New Password" %}

                                        <!-- Render errors for the current password field -->
                                        {% if changePasswordForm.current_password.errors %}
                                            {% for error in changePasswordForm.current_password.errors %}
                                                <p class = "text-red">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        <!-- Render errors for the new password field -->
                                        {% if changePasswordForm.new_password.errors %}
                                            {% for error in changePasswordForm.new_password.errors %}
                                                <p class = "text-red">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    
                                        <!-- Render errors for the confirm password field -->
                                        {% if changePasswordForm.confirm_new_password.errors %}
                                            {% for error in changePasswordForm.confirm_new_password.errors %}
                                                <p class = "text-red">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}

                                        <button type="submit" name = "change_password_btn" class="active:scale-95 w-full h-12 mt-4 xl:mt-12 rounded-lg border border-transparent font-semibold bg-blue-400 text-white hover:bg-blue-600 text-lg">
                                            Change Password
                                        </button>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        <!--Delete Account Button and its respective modal-->
        <div x-data="{DeleteAccount: false}">
            <!--Change password button-->
            <button @click ="DeleteAccount = true" type="button" class="active:scale-95 w-full lg:w-1/3 h-12 rounded-lg border border-transparent font-semibold bg-red-400 text-white hover:bg-red-600 text-base lg:text-lg">
                Delete Account
            </button>
            <!--Model Begins here-->
            <!--Opacity Layer-->
            <div x-cloak x-show="DeleteAccount" @click.self="DeleteAccount = false"  class = "fixed inset-0 z-30 flex justify-center items-center bg-black/20 backdrop-blur-md">
                <!--Modal Dialogue layer-->
                <div x-show="DeleteAccount" class = "w-4/5 md:w-1/2 h-1/2 flex flex-col align-middle items-center gap-4 rounded-xl border-2 bg-white">
                    <div class = " h-full w-[90%]">
                        <!--Title and exit button-->
                        <div class = "flex flex-row justify-between p-8">
                            <!--Title-->
                            <h class = "text-2xl md:text-3xl text-gray-500 font-bold">Delete Account</h>
                            <!--Exit Button-->
                            <button class = "active:scale-90" @click="DeleteAccount = false">
                                <span class="text-gray-500 hover:text-gray-600 hover:cursor-pointer text-2xl"><i class="bi-x-lg"></i></span>
                            </button>
                        </div>
                        <!--Main modal content-->
                        <div class = "w-full h-full flex flex-col pl-8 pr-4 pb-8 gap-2">

                            <!--Content goes here-->
                            <!--Have user enter password to delete the account-->
                            <form method="post" class = "w-full flex flex-col gap-4">
                                {% csrf_token %}

                                {% render_field deleteAccountForm.password class="border-gray-300 border-2 rounded-lg w-full py-4 bg-slate-100 text-gray-600 focus:outline-none focus:shadow-outline" placeholder="Enter Password" %}

                                <!-- Render errors for the password field -->
                                {% if deleteAccountForm.password.errors %}
                                    {% for error in deleteAccountForm.password.errors %}
                                        <p class = "text-red">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}


                                <button type="submit" name = "delete_user_btn" onclick="return confirm('Are you sure you want to delete your account? If account is deleted all your maps will be deleted as well.');" class="active:scale-95 w-full h-12 mt-4 xl:mt-12 rounded-lg border border-transparent font-semibold bg-red-400 text-white hover:bg-red-600 text-lg">
                                    Delete Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    </div>


</div>


{% endblock content %}